<div class="container-fluid position-relative nav-bar p-0">
    <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
        <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
            <a  class="navbar-brand">
                <h1 class="m-0 text-primary"><span class="text-dark">EXPLO</span>RE WORLD</h1>
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                <div class="navbar-nav ml-auto py-0">
                    <a class="nav-item nav-link" href="/admin">Home</a>
                    <a  class="nav-item nav-link" routerLink="/login" routerLinkActive="active"><i class="fas fa-sign-out-alt" style="font-size:30px"></i></a>
                </div>
            </div>
        </nav>
    </div>
  </div>


<div id="booking" class="section">
    <div class="section-center">
    <div class="container">
    <div class="row">
    <div class="col-md-7 col-md-push-5">
    <div class="booking-cta">
    <h1>Make your reservation</h1>
    <p>Buy the ticket, take the ride.
    </p>
    </div>
    </div>
    <div class="col-md-4 col-md-pull-7">
    <div class="booking-form">
    <form  #ticket="ngForm" (ngSubmit)="insertticketData(ticket)">
    <div class="form-group">
    <span class="form-label">Your Destination</span>
    <select class="form-control custom-select" type="text" name="destination" ngModel="destination">
        <option >India</option>
                  <option >Paris</option>
                  <option >Italy</option>
                  <option >Croatia</option>
                  <option >New York City</option>
        </select>
    </div>
    <div class="row">
    <div class="col-sm-6">
    <div class="form-group">
    <span class="form-label">Depart Date</span>
    <input class="form-control" type="date"  name="checkout" ngModel="checkout" required>
    </div>
    </div>
    <div class="col-sm-6">
    <div class="form-group">
    <span class="form-label">Arrival Date</span>
    <input class="form-control" type="date"  name="checkin" ngModel="checkin" required>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-sm-4">
    <div class="form-group">
    <span class="form-label">Rooms</span>
    <select class="form-control"  name="rooms" ngModel="rooms">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    </select>
    <span class="select-arrow"></span>
    </div>
    </div>
    <div class="col-sm-4">
    <div class="form-group">
    <span class="form-label">Adults</span>
    <select class="form-control"  name="adults" ngModel="adults">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    </select>
    <span class="select-arrow"></span>
    </div>
    </div>
    <div class="col-sm-4">
    <div class="form-group">
    <span class="form-label">Children</span>
    <select class="form-control"  name="children" ngModel="children">
    <option>0</option>
    <option>1</option>
    <option>2</option>
    </select>
    <span class="select-arrow"></span>
    </div>
    </div>
    </div>
    <div class="form-btn">
    <button class="submit-btn" (click)="successNotification()">Confirm</button>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="container-fluid bg-dark text-white-50 py-5 px-sm-3 px-lg-5" style="margin-top:90px;">
        <div class="row pt-5">
          <div class="col-lg-3 col-md-6 mb-5"><a href="/admin" class="navbar-brand">
            <h1 class="text-primary"><span class="text-white">EXPLO</span>RE WORLD</h1>
            </a>
            <p>Onwards And Upwards!!</p>
            <h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing:5px;">Follow Us</h6>
            <div class="d-flex justify-content-start">
              <a class="btn btn-outline-primary btn-square mr-2" ><i class="fab fa-twitter"></i></a> 
              <a class="btn btn-outline-primary btn-square mr-2" ><i class="fab fa-facebook" aria-hidden="true"></i></a> 
              <a class="btn btn-outline-primary btn-square mr-2" ><i class="fab fa-linkedin-in"></i></a> 
              <a class="btn btn-outline-primary btn-square" ><i class="fab fa-instagram"></i></a></div>
          </div>
          <div class="col-lg-3 col-md-6 mb-5">
            <h5 class="text-white text-uppercase mb-4" style="letter-spacing:5px;">Our Services</h5>
            <div class="d-flex flex-column justify-content-start">
              <a class="text-white-50 mb-2"><i class="fa fa-angle-right mr-2"></i>Travel Guide</a> 
              <a class="text-white-50 mb-2"><i class="fa fa-angle-right mr-2"></i>Travel Booking</a> 
              <a class="text-white-50 " ><i class="fa fa-angle-right mr-2"></i>Hotel Booking</a> 
              </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-5">
            <h5 class="text-white text-uppercase mb-4" style="letter-spacing:5px;">Usefull Links</h5>
            <div class="d-flex flex-column justify-content-start">
              <a class="text-white-50 mb-2" ><i class="fa fa-angle-right mr-2"></i>About</a> 
              <a class="text-white-50 mb-2" ><i class="fa fa-angle-right mr-2"></i>Destination</a> 
              <a class="text-white-50 mb-2"><i class="fa fa-angle-right mr-2"></i>Packages</a> 
              <a class="text-white-50" ><i class="fa fa-angle-right mr-2"></i>Guides</a> 
              
          </div>
        </div>
          <div class="col-lg-3 col-md-6 mb-5">
            <h5 class="text-white text-uppercase mb-4" style="letter-spacing:5px;">Contact Us</h5>
            <p><i class="fa fa-map-marker-alt mr-2"></i>Main Street, Kharadi, Pune, MAharashtra</p>
            <p><i class="fa fa-phone-alt mr-2"></i>9899100110</p>
            <p><i class="fa fa-envelope mr-2"></i>mail@ExploreWorld.com</p>
            <h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing:5px;">Newsletter</h6>
            <div class="w-100">
              <div class="input-group">
                <input type="text" class="form-control border-light" style="padding:25px;" placeholder="Your Email">
                <div class="input-group-append">
                  <button class="btn btn-primary px-3" href="/admin">Sign Up</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>