<div class="container padding-bottom-3x mb-2 mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <div class="forgot">
                                            
      <h2>Why You want to Delete Account!!?</h2>
                                        
       <ol class="list-unstyled">
        <li><span class="text-primary text-medium">1. </span>Whether we are Not Capable of Providing Good Services??</li>
        <li><span class="text-primary text-medium">2. </span>If you Really Want to Continue on Deleting Account Fill Below Details..</li>
      </ol>
                              
      </div>	
                                        
      <form class="card mt-4" #delete="ngForm" (ngSubmit)="deleteData(delete)">
        <div class="card-body">
          <div class="form-group">
            <label for="id">Enter your Specific ID</label>
            <input class="form-control" type="text" name="id" id="id"  ngModel="id"><small class="form-text text-muted">Enter the Specific ID you used during the registration.</small>
            </div>
            </div>
          <div class="card-footer">
            <input class="btn btn-success" value="Delete" type="submit" (click)="alertConfirmation()">
          </div>
      </form>
    </div>
  </div>
</div>