<app-navbar></app-navbar>

<div class="container-fluid page-header">
    <div class="container">
      <div class="d-flex flex-column align-items-center justify-content-center" style="min-height:400px">
        <h3 class="display-4 text-white text-uppercase">Destination</h3>
        <div class="d-inline-flex text-white">
          <p class="m-0 text-uppercase"><a class="text-white" href="#1">Home</a></p>
          <i class="fa fa-angle-double-right pt-1 px-3"></i>
          <p class="m-0 text-uppercase">Destination</p>
        </div>
      </div>
    </div>
  </div>
 

  <div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
      <div class="text-center mb-3 pb-3">
        <h6 class="text-primary text-uppercase" style="letter-spacing:5px;">Destination</h6>
        <h1>Explore Top Destination</h1>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="destination-item position-relative overflow-hidden mb-2"><img width="" class="img-fluid" src="assets/img/India_destination.jpg" alt="website template image"> <a class="destination-overlay text-white text-decoration-none" href="/registeration">
            <h5 class="text-white">India</h5>
            <span>17 Cities</span></a></div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="destination-item position-relative overflow-hidden mb-2"><img class="img-fluid" src="assets/img/destination-2.jpg" alt="website template image"> <a class="destination-overlay text-white text-decoration-none" href="/registeration">
            <h5 class="text-white">Paris</h5>
            <span>25 Cities</span></a></div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="destination-item position-relative overflow-hidden mb-2"><img class="img-fluid" src="assets/img/destination-3.jpg" alt="website template image"> <a class="destination-overlay text-white text-decoration-none" href="/registeration">
            <h5 class="text-white">Italy</h5>
            <span>20 Cities</span></a></div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="destination-item position-relative overflow-hidden mb-2"><img class="img-fluid" src="assets/img/Croatia_destination.jpg" alt="website template image"> <a class="destination-overlay text-white text-decoration-none" href="/registeration">
            <h5 class="text-white">Croatia</h5>
            <span>9 Cities</span></a></div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="destination-item position-relative overflow-hidden mb-2"><img class="img-fluid" src="assets/img/NewYork_destination.jpg" alt="website template image"> <a class="destination-overlay text-white text-decoration-none" href="/registeration">
            <h5 class="text-white">New York</h5>
            <span>27 Cities</span></a></div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="destination-item position-relative overflow-hidden mb-2"><img class="img-fluid" src="assets/img/destination-6.jpg" alt="website template image"> <a class="destination-overlay text-white text-decoration-none" href="/registeration">
            <h5 class="text-white">Indonesia</h5>
            <span>7 Cities</span></a></div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer> 