<app-navbar></app-navbar>


<div class="container-fluid page-header">
  <div class="container">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height:400px">
      <h3 class="display-4 text-white text-uppercase">About</h3>
      <div class="d-inline-flex text-white">
        <p class="m-0 text-uppercase"><a class="text-white" href="#!">Home</a></p>
        <i class="fa fa-angle-double-right pt-1 px-3"></i>
        <p class="m-0 text-uppercase">About</p>
      </div>
    </div>
  </div>
</div>





  
  <div class="container-fluid py-5">
    <div class="container pt-5">
      <div class="row">
        <div class="col-lg-6" style="min-height:500px;">
          <div class="position-relative h-100"><img src="assets/img/travel_about3.jpg" alt="website template image" class="position-absolute w-100 h-100" style="object-fit:cover;"></div>
        </div>
        <div class="col-lg-6 pt-5 pb-lg-5">
          <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
            <h6 class="text-primary text-uppercase" style="letter-spacing:5px;">About Us</h6>
            <h1 class="mb-3">We Provide Best Tour Packages In Your Budget</h1>
            <p>“The journey of a thousand miles begins with a single step.”</p>
            <div class="row mb-4">
              <div class="col-6"><img class="img-fluid" src="assets/img/about-1.jpg" alt="website template image"></div>
              <div class="col-6"><img class="img-fluid" src="assets/img/about-2.jpg" alt="website template image"></div>
            </div>
            <a href="#!" class="btn btn-primary mt-1">Book Now</a></div>
        </div>
      </div>
    </div>
  </div>
 
  <div class="container-fluid pb-5">
    <div class="container pb-5">
      <div class="row">
        <div class="col-md-4">
          <div class="d-flex mb-4 mb-lg-0">
            <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height:100px;width:100px;"><i class="fa fa-2x fa-money-check-alt text-white"></i></div>
            <div class="d-flex flex-column">
              <h5>Competitive Pricing</h5>
              <p class="m-0">We Provide Average Pricing of Destination with All 5 Star Amenities.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="d-flex mb-4 mb-lg-0">
            <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height:100px;width:100px;"><i class="fa fa-2x fa-award text-white"></i></div>
            <div class="d-flex flex-column">
              <h5>Best Services</h5>
              <p class="m-0">Just Try!!</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="d-flex mb-4 mb-lg-0">
            <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height:100px;width:100px;"><i class="fa fa-2x fa-globe text-white"></i></div>
            <div class="d-flex flex-column">
              <h5>Worldwide Coverage</h5>
              <p class="m-0">We have a Wrold Coverage In all Destinations Which Provided with all the Safety and Security</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="container-fluid bg-registration py-5" style="margin:90px 0;">
    <div class="container py-5">
      <div class="row align-items-center">
        <div class="col-lg-7 mb-5 mb-lg-0">
          <div class="mb-4">
            <h6 class="text-primary text-uppercase" style="letter-spacing:5px;">Mega Offer</h6>
            <h1 class="text-white"><span class="text-primary">30% OFF</span> For Outing With Friends</h1>
          </div>
          <p class="text-white">Need a reason for a weekend getaway with friends?</p>
          <ul class="list-inline text-white m-0">
            <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Adventures</li>
            <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Beaches</li>
            <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Concerts in the park</li>
          </ul>
        </div>
        <div class="col-lg-5">
          <div class="card border-0">
            <div class="card-header bg-primary text-center p-4">
              <h1 class="text-white m-0">Sign Up Now</h1>
            </div>
            <div class="card-body rounded-bottom bg-white p-5">
              <form action="#" method="post">
                <div class="form-group">
                  <input type="text" class="form-control p-4" placeholder="Your name" required>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control p-4" placeholder="Your email" required>
                </div>
                <div class="form-group">
                  <select class="custom-select px-4" style="height:47px;">
                    <option selected>Select a destination</option>
                    <option value="1">India</option>
                    <option value="2">Paris</option>
                    <option value="3">Italy</option>
                    <option value="4">Croatia</option>
                    <option value="5">New York City</option>
                  </select>
                </div>
                <div>
                  <button class="btn btn-primary btn-block py-3" type="submit"><a routerLink="/registeration" routerLinkActive="active">Sign Up Now</a></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid py-5">

    <div class="container pt-5 pb-3">
      <div class="text-center mb-3 pb-3">
        <h6 class="text-primary text-uppercase" style="letter-spacing:5px;">Guides</h6>
        <h1>Our Travel Guides</h1>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 pb-2">
          <div class="team-item bg-white mb-4">
            <div class="team-img position-relative overflow-hidden"><img class="img-fluid w-100" src="assets/img/yash.jpg" alt="website template image">
              <div class="team-social">
                <a class="btn btn-outline-primary btn-square" href="https://twitter.com/talmale_yash"><i class="fab fa-twitter"></i></a> 
                <a class="btn btn-outline-primary btn-square" href="https://www.instagram.com/yashtalmale/"><i class="fab fa-instagram"></i></a> 
             
              </div>
            </div>
            <div class="text-center py-4">
              <h5 class="text-truncate">Yash Talmale</h5>
              <p class="m-0">Hill Station Guide</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-2">
          <div class="team-item bg-white mb-4">
            <div class="team-img position-relative overflow-hidden"><img class="img-fluid w-100" src="assets/img/aman.jpg" alt="website template image">
              <div class="team-social">
                <a class="btn btn-outline-primary btn-square" href="https://www.instagram.com/aman_deshmukh_/"><i class="fab fa-instagram"></i></a> 
              </div>
            </div>
            <div class="text-center py-4">
              <h5 class="text-truncate">Aman Deshmukh</h5>
              <p class="m-0">Expertise in Domestic Travel</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-2">
          <div class="team-item bg-white mb-4">
            <div class="team-img position-relative overflow-hidden"><img class="img-fluid w-100" src="assets/img/testimonial1.jpg" alt="website template image">
              <div class="team-social">
                <a class="btn btn-outline-primary btn-square" href="https://www.instagram.com/mr.omkar_shelar/"><i class="fab fa-instagram"></i></a> 
              </div>
            </div>
            <div class="text-center py-4">
              <h5 class="text-truncate">Omkar Shelar</h5>
              <p class="m-0">Expertise in International Travel</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-2">
          <div class="team-item bg-white mb-4">
            <div class="team-img position-relative overflow-hidden"><img class="img-fluid w-100" src="assets/img/yashlambat.jpg" alt="website template image">
              <div class="team-social">
                <a class="btn btn-outline-primary btn-square" href="https://www.instagram.com/yash_.lambat/"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
            <div class="text-center py-4">
              <h5 class="text-truncate">Yash Lambat</h5>
              <p class="m-0">Special Guide</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer> 