<div class="container-fluid position-relative nav-bar p-0">
    <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
        <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
            <a  class="navbar-brand">
                <h1 class="m-0 text-primary"><span class="text-dark">EXPLO</span>RE WORLD</h1>
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                <div class="navbar-nav ml-auto py-0">
                  <a class="nav-item nav-link" href="/admin">Home</a>
                    <a class="nav-item nav-link" href="/ticket">TicketBook</a>
                    <a class="nav-item nav-link"  href="/profile">Booked Tickets</a>
                    <a class="nav-item nav-link"href="/userprofile">Profile</a>
                   
                    <a class="nav-item nav-link" data-bs-toggle="modal" data-bs-target="#delete-form-modal">Cancel Ticket</a>
                    <a  class="nav-item nav-link" routerLink="/login" routerLinkActive="active"><i class="fas fa-sign-out-alt" style="font-size:30px"></i></a>
                </div>
            </div>
        </nav>
    </div>
  </div>

<section class="vh-100" style="background-color: #677797;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-6 mb-4 mb-lg-0">
          <div class="card mb-3" style="border-radius: .5rem;">
            <div class="row g-0">
              <div class="col-md-4 gradient-custom text-center text-white"
                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp" alt="Avatar"
                  class="img-fluid my-5" style="width: 80px;" />
                <div>
  
                  <h5 style="color: black;">UserName</h5>
                  <p style="color: black;">{{profile.username}}</p>
                  <i class="far fa-edit mb-5"></i>
                </div>
              </div>
              <div class="col-md-8">
                <div class="card-body p-4 text-center">
                  <h6 class="text-center">Information</h6>
                  <hr class="mt-0 mb-4 text-center">
                  <div class="row pt-1">
                    <div class="col-6 mb-3 text-center">
                      <h6>Email</h6>
                      <p style="color: black;">{{profile.email}}</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>User Id</h6>
                      <p style="color: black;">{{profile.id}}</p>
                    </div>
                  </div>
                  <h6>Projects</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                        <h6>Recent</h6>
                        <p class="text-muted">Java FullStack Wepapge</p>
                      </div>
                      <div class="col-6 mb-3">
                        <h6>Most Viewed</h6>
                        <p class="text-muted">EduBridge WebSite</p>
                    </div>
                  </div>
                  <div class="d-flex justify-content-start ">
                    <a ><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                    <a ><i class="fab fa-twitter fa-lg me-3"></i></a>
                    <a ><i class="fab fa-instagram fa-lg"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>