<app-navbar></app-navbar>
<div class="container padding-bottom-3x mb-2 mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <div class="forgot">
            
            <h2>Forgot your password?</h2>

        </div>	
        
      
          <form class="card mt-4"  #update="ngForm" (ngSubmit)="updateData(update)">
            <div class="card-body">
              <div class="form-group">
                <label >Enter your Specific ID</label>
                <input class="form-control" type="text"  name="id" ngModel="id" required><small class="form-text text-muted">Enter the Specific ID you used during the registration.</small>
                <br>
                <label >Enter your Registered Username </label>
                <input class="form-control" type="username" name="username" ngModel="username" required><small class="form-text text-muted">Input Registered Username</small>
                <br>
                <label >Enter your Registered Email Address</label>
                <input class="form-control" type="email"  name="email" ngModel="email" required><small class="form-text text-muted">Input Registered Email Address</small>
                <br>
                <label >Enter your New Password</label>
                <input class="form-control" type="password" name="password" ngModel="password" required><small class="form-text text-muted">Input New Password</small>
              </div>
            </div>
          <div class="card-footer">
            <button class="btn btn-success" type="submit"  (click)="successNotification()">Get New Password</button>
            <!-- <button class="btn btn-danger" href="/login" type="submit">Back to Login</button> -->
          </div>
        </form>
      </div>
    </div>
  </div>

  <app-footer></app-footer> 