<div class="container-fluid position-relative nav-bar p-0">
  <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
      <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
          <a  class="navbar-brand">
              <h1 class="m-0 text-primary"><span class="text-dark">EXPLO</span>RE WORLD</h1>
          </a>
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
              <div class="navbar-nav ml-auto py-0">
                  <a class="nav-item nav-link" href="/admin">Home</a>
                  <!-- <a class="nav-item nav-link" data-bs-toggle="modal" data-bs-target="#updateTicket" >Update Ticket</a> -->
                  <a  class="nav-item nav-link" routerLink="/login" routerLinkActive="active"><i class="fas fa-sign-out-alt" style="font-size:30px"></i></a>
              </div>
          </div>
      </nav>
  </div>
</div>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container"  style="background-image: url(assets/img/users\,jpg.jpg)">
<div class="row flex-lg-nowrap">
  <div class="col-12 col-lg-auto mb-3" style="width: 200px;">
    <div class="card p-3">
      <div class="e-navlist e-navlist--active-bg">
        <ul class="nav">
       
        </ul>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="e-tabs mb-3 px-3">
      <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active">Tickets</a></li>
      </ul>
    </div>

    <div class="row flex-lg-nowrap" >
      <div class="col mb-3">
        <div class="e-panel card">
          <div class="card-body" style="background-color: rgb(248, 241, 205);">
            <div class="card-title">
              <h6 class="mr-2"><span>Tickets</span><small class="px-1">Be a wise leader</small></h6>
            </div>
            <div class="e-table">
              <div class="table-responsive table-lg mt-3">
              <table class="table table-bordered">
                <thead>
                  <tr >
                    <th class="text-center align-middle">ID</th>
                    <th class="text-center align-middle">Destination</th>
                    <th class="max-width text-center align-middle">CheckIn</th>
                    <th class="text-center align-middle">Checkout </th>
                    <th class="text-center align-middle">Rooms</th>
                    <th class="text-center align-middle">Adults</th>
                    <th class="text-center align-middle">Children</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let t of ticket">

                            <td class="text-center align-middle">{{t.id}}</td>
                            <td class="text-center align-middle">{{t.destination}}</td>
                            <td class="text-center align-middle">{{t.checkin}}<span></span></td>
                            <td class="text-center align-middle">{{t.checkout}}</td>
                            <td class="text-center align-middle">{{t.rooms}} </td>
                            <td class="text-center align-middle">{{t.adults}} </td>
                            <td class="text-center align-middle">{{t.children}} </td>
                            
                           
                  </tr>
                </tbody>
              </table>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="text-center px-xl-3">
              <!-- <button class="btn btn-success btn-block" type="button" data-bs-toggle="modal" data-bs-target="#ticketnew-form-modal">New Ticket</button>
              <button class="btn btn-outline-warning btn-block" type="button" data-bs-toggle="modal" data-bs-target="#updateTicket">Edit Ticket</button>
              <button class="btn btn-danger btn-block" type="button" data-bs-toggle="modal" data-bs-target="#deleteticket-form-modal"><i class="fa fa-trash"></i></button> -->
             
            </div>
          </div>
        </div>
      </div>
    </div>