<app-navbar></app-navbar>
 
  <div class="container-fluid py-5">
    <div class="container py-5">
      <div class="text-center mb-3 pb-3">
        <h6 class="text-primary text-uppercase" style="letter-spacing:5px;">Contact</h6>
        <h1>Contact For Any Query</h1>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="contact-form bg-white" style="padding:30px;">
            <div id="success"></div>
            <form action="#" method="post" name="sentMessage" id="contactForm" novalidate>
              <div class="form-row">
                <div class="control-group col-sm-6">
                  <input type="text" class="form-control p-4" id="name" placeholder="Your Name" required>
                  <p class="help-block text-danger"></p>
                </div>
                <div class="control-group col-sm-6">
                  <input type="email" class="form-control p-4" id="email" placeholder="Your Email" required>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="control-group">
                <input type="text" class="form-control p-4" id="subject" placeholder="Subject" required>
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group">
                <textarea class="form-control py-3 px-4" rows="5" id="message" placeholder="Message" required></textarea>
                <p class="help-block text-danger"></p>
              </div>
              <div class="text-center">
                <button class="btn btn-primary py-3 px-4" type="submit" id="sendMessageButton" (click)="successNotification()">Send Message</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer> 