<app-navbar></app-navbar>

<div class="container-fluid page-header">
    <div class="container">
      <div class="d-flex flex-column align-items-center justify-content-center" style="min-height:400px">
        <h3 class="display-4 text-white text-uppercase">Guides</h3>
        <div class="d-inline-flex text-white">
          <p class="m-0 text-uppercase"><a class="text-white" href="#!">Home</a></p>
          <i class="fa fa-angle-double-right pt-1 px-3"></i>
          <p class="m-0 text-uppercase">Guides</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container pt-5 pb-3">
    <div class="text-center mb-3 pb-3">
      <h6 class="text-primary text-uppercase" style="letter-spacing:5px;">Guides</h6>
      <h1>Our Travel Guides</h1>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 pb-2">
        <div class="team-item bg-white mb-4">
          <div class="team-img position-relative overflow-hidden"><img class="img-fluid w-100" src="assets/img/yash.jpg" alt="website template image">
            <div class="team-social">
              <a class="btn btn-outline-primary btn-square" href="https://twitter.com/talmale_yash"><i class="fab fa-twitter"></i></a> 
              <a class="btn btn-outline-primary btn-square" href="https://www.instagram.com/yashtalmale/"><i class="fab fa-instagram"></i></a> 
           
            </div>
          </div>
          <div class="text-center py-4">
            <h5 class="text-truncate">Yash Talmale</h5>
            <p class="m-0">Hill Station Guide</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 pb-2">
        <div class="team-item bg-white mb-4">
          <div class="team-img position-relative overflow-hidden"><img class="img-fluid w-100" src="assets/img/aman.jpg" alt="website template image">
            <div class="team-social">
              <a class="btn btn-outline-primary btn-square" href="https://www.instagram.com/aman_deshmukh_/"><i class="fab fa-instagram"></i></a> 
            </div>
          </div>
          <div class="text-center py-4">
            <h5 class="text-truncate">Aman Deshmukh</h5>
            <p class="m-0">Expertise in Domestic Travel</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 pb-2">
        <div class="team-item bg-white mb-4">
          <div class="team-img position-relative overflow-hidden"><img class="img-fluid w-100" src="assets/img/testimonial1.jpg" alt="website template image">
            <div class="team-social">
              <a class="btn btn-outline-primary btn-square" href="https://www.instagram.com/mr.omkar_shelar/"><i class="fab fa-instagram"></i></a> 
            </div>
          </div>
          <div class="text-center py-4">
            <h5 class="text-truncate">Omkar Shelar</h5>
            <p class="m-0">Expertise in International Travel</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 pb-2">
        <div class="team-item bg-white mb-4">
          <div class="team-img position-relative overflow-hidden"><img class="img-fluid w-100" src="assets/img/yashlambat.jpg" alt="website template image">
            <div class="team-social">
              <a class="btn btn-outline-primary btn-square" href="https://www.instagram.com/yash_.lambat/"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
          <div class="text-center py-4">
            <h5 class="text-truncate">Yash Lambat</h5>
            <p class="m-0">Special Guide</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <app-footer></app-footer> 